CompileFlags:
  Add: [-D, __INTELLISENSE__, -Wall, -Wextra, -Werror, -Wpointer-arith, -Wno-error=unused, -Wno-error=unused-parameter, -Wno-error=deprecated-non-prototype, -Wno-deprecated-non-prototype, -Werror=implicit-fallthrough]