<html>
    <head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        
        <title>{{ file_name }}</title>
         
		<link rel="stylesheet" data-name="vs/editor/editor.main" href="https://unpkg.com/monaco-editor/min/vs/editor/editor.main.css"/>
	</head>
    <body style="margin: 0;">
        <div id="editor" style="width: 100%; height: 100%;"> {{ file_content }} </div>

        <script>
			var require = { paths: { vs: 'https://unpkg.com/monaco-editor/min/vs' } };
		</script>
        <script src="https://unpkg.com/monaco-editor/min/vs/loader.js"></script>
		<script src="https://unpkg.com/monaco-editor/min/vs/editor/editor.main.js"></script>
        <script>
            var editor_node = document.getElementById('editor');
            var content = editor_node.textContent;
            editor_node.innerHTML = '';
            var editor = monaco.editor.create(editor_node, {
				value: content,
				language: '{{ file_language }}',
                theme: 'vs-dark',
                readOnly: true,
                autmaticLayout: true
			});

            let url = document.URL;
            let [_1, _2, line, _3,  column] = url.match(/(#L(\d+)(:(\d+))?)?$/);

            console.log(url, url.match(/(#L(\d+)(:(\d+))?)?$/), line, column);

            if (line && column) {
                editor.setPosition( { lineNumber: Number(line), column: Number(column) });
            } else if (line) {
                editor.setPosition( { lineNumber: Number(line), column: 0 });
            }
            editor.focus();

            addEventListener('resize', (event) => {
                editor.layout();
            }, true);
        </script>
    </body>
</html>